page-map {
    ion-title{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.2em;
  }
  #map {
    height: 100%;
  }
}
