<ion-header>
    <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Найти погрузки</ion-title>
    </ion-navbar>
</ion-header>
  
  
<ion-content padding class="find">
      
    <form [formGroup]="pogruzkaForm" novalidate (ngSubmit)="onGetOrders()">
  
        <ion-row>
            <ion-col text-left>
                <label class="text">Откуда</label> 
            </ion-col>
            <ion-col text-right>
                <ion-spinner name="dots" class="findMeSpinner" *ngIf="isLoading0"></ion-spinner> 
                <a (click)="onClickFindMe(0)" ion-button icon-only class="findMe"><ion-icon ios="ios-locate" md="md-locate"></ion-icon></a>
            </ion-col>
        </ion-row>
         <div class="form-group" id="otkuda">
                <ion-item class="top">
                  <ion-input type="text"
                            formControlName="from"
                            placeholder="Адрес"
                            (tap)="onSearchAddressSelect(0)"
                            readonly></ion-input>
                        <a class="resetBtn" ion-button item-end clear icon-only (click)="onResetSearchForm(0)" *ngIf="pogruzkaForm.value.from">
                        <ion-icon name="md-close-circle"></ion-icon>
                    </a>
                </ion-item>
          </div>
  
         <div class="form-group" id="otkudaB">
                <ion-item class="bottom" no-lines>
                  <ion-badge item-end item-end>{{otkudaRadius}} км</ion-badge>
                  <ion-range  color="primary"
                              pin="false"
                              step="50"
                              min="0"
                              max="2000"
                              (ionChange)="onChange($event, 0)"
                              formControlName="from_radius"></ion-range>
                </ion-item>
          </div>

          <ion-row>
                <ion-col text-left>
                    <label class="text">Куда</label> 
                </ion-col>
                <ion-col text-right>
                    <ion-spinner name="dots" class="findMeSpinner" *ngIf="isLoading1"></ion-spinner> 
                    <a (click)="onClickFindMe(1)" ion-button icon-only class="findMe"><ion-icon ios="ios-locate" md="md-locate"></ion-icon></a>
                </ion-col>
            </ion-row> 
          <div class="form-group" id="otkuda">
                <ion-item class="top">
                  <ion-input type="text"
                            formControlName="to"
                            placeholder="Адрес"
                            (tap)="onSearchAddressSelect(1)"
                            readonly></ion-input>
                  <a class="resetBtn" ion-button item-end clear icon-only (click)="onResetSearchForm(1)" *ngIf="pogruzkaForm.value.to">
                      <ion-icon name="md-close-circle"></ion-icon>
                  </a>
                </ion-item>
            </div>
         <div class="form-group" id="otkudaB">
                <ion-item class="bottom" no-lines>
                  <ion-badge item-end item-end>{{kudaRadius}} км</ion-badge>
                  <ion-range  color="primary"
                              pin="false"
                              step="50"
                              min="0"
                              max="2000"
                              (ionChange)="onChange($event, 1)"
                              formControlName="to_radius"></ion-range>
                </ion-item>
          </div>
  
          <div class="form-group">
                <ion-item class="date">
                  <ion-input type="tel"
                            class="disabledInputPlace"
                            (tap)="onSelectDate()"
                            formControlName="date"
                            placeholder="Дата поездки"
                            disabled="true"
                            readonly></ion-input>
                      <a class="resetBtn" ion-button item-end clear icon-only (click)="onResetSearchForm(2)" *ngIf="pogruzkaForm.value.date">
                          <ion-icon name="md-close-circle"></ion-icon>
                      </a>
                    </ion-item>
          </div>
  
          <div class="form-group">
                <ion-item class="car" no-lines>
                  <ion-input type="text"
                            (tap)="onCarSelect()" 
                            placeholder="Тип транспорта"
                            formControlName="car_type"
                            readonly></ion-input>
                  <a class="resetBtn" ion-button item-end clear icon-only (click)="onResetSearchForm(3)" *ngIf="pogruzkaForm.value.car_type">
                      <ion-icon name="md-close-circle"></ion-icon>
                  </a>
                </ion-item>
          </div><br>
          
          <button ion-button block type="submit"
                  [disabled]="!isFrom"
                  class="buttonColor">Найти</button>
                  
  
    </form>

</ion-content>
  