<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle *ngIf="!authS.fromPogruzka">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
    
    <ion-buttons start *ngIf="authS.fromPogruzka">
      <button ion-button clear icon-only (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="list" (tap)="onClickContent()" padding>
    
      <form [formGroup]="phoneForm"
            (ngSubmit)="registeredLogin()"
            (tap)="onClickContent()"
            *ngIf="!authS.isNewUser"
            class="cr"
            novalidate>
            
            <ion-grid>
              <ion-row>
                <ion-col col-10 offset-1>
                  <div class="form-group" class="phone" (tap)="onClickContent()">
                    <ion-item no-lines>
                        <ion-input type="tel"
                                   text-center 
                                   [textMask]="{mask: masks.phone}"
                                   placeholder="Телефон номер"
                                   formControlName="phone"></ion-input>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-10 offset-1>
                    <button ion-button block
                            (tap)="onClickContent()"
                            class="btnSize"
                            type="submit"
                            color="primary"
                            [disabled]="!phoneForm.valid">Получить код</button>
                  </ion-col>
                </ion-row>
                
                <ion-row text-center>
                  <ion-col>
                    <a clear (click)="show()">
                        Регистрироваться
                    </a>
                  </ion-col>
                </ion-row>
            </ion-grid>
    </form>  

  <form [formGroup]="loginForm" novalidate 
        (ngSubmit)="onGetSms()"
        *ngIf="authS.isNewUser"
        class="cr2">
              <div class="form-group" class="phone">
                <ion-item no-lines>
                    <ion-input type="tel"
                                [textMask]="{mask: masks.phone}"
                                placeholder="Телефон номер"
                                formControlName="phone"></ion-input>
                </ion-item>
              </div>

            <div class="form-group">
              <ion-item no-lines>
                <ion-input type="email"
                            (tap)="onClickContent()"
                            placeholder="email"
                            formControlName="email"></ion-input>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item no-lines>
                <ion-input type="text"
                            (tap)="onClickContent(); onClickCompany();"
                            placeholder="ИНН"
                            formControlName="inn"
                            readonly="{{isReadonly}}"></ion-input>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item no-lines>
                <ion-input type="text"
                            (tap)="onClickContent()"
                            placeholder="Название компании"
                            formControlName="name"
                            readonly="{{isReadonly}}"></ion-input>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item item-end no-lines>
                <ion-label>Модель</ion-label>
                <ion-select formControlName="nds" interface="action-sheet" [disabled]="isReadonly">
                  <ion-option value="1">НДС</ion-option>
                  <ion-option value="2">Без НДС</ion-option>
                </ion-select>
              </ion-item>
          </div>


          <div class="form-group">
            <ion-item no-lines>
              <ion-input type="text"
                          (tap)="onClickContent()"
                          placeholder="Код АТИ"
                          formControlName="code_ati"
                          readonly="{{isReadonly}}"></ion-input>
            </ion-item>
          </div>

          <div class="form-group">
            <ion-item no-lines>
              <ion-input type="text"
                          (tap)="onClickContent();onClickAuto();"
                          placeholder="Тип авто"
                          formControlName="type_auto"
                          readonly></ion-input>
            </ion-item>
          </div><br>

            <button ion-button block
                    (tap)="onClickContent()"
                    class="btnSize"
                    type="submit"
                    color="primary"
                    [disabled]="!loginForm.valid">Получить код</button>
          
          <ion-grid>
            <ion-row text-center>
              <ion-col>
                <a clear (click)="show()" color="primary">
                    Войти
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>     
    </form>


</ion-content>
