page-login {
    .list{
        height: 100%;
        ion-item{
            border-radius: 12px;
            background-color: #ffffff;
        }
        .form-group{
            padding-top: 10px;
        }
        .cr{
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            height: 100%;
        }
        .cr2{
            padding-top: 30px;
        }
    }

    ion-item{
        border-radius: 12px;
        background-color: #B13838
    }

}

ion-toast.success .toast-button{
    color: #00E2F0;
 }
 ion-toast .button-clear-md {
     border-color: blue;
     color: #488aff;
     -webkit-box-shadow: none;
     box-shadow: none;
     opacity: 1;
 }