<ion-header>
    <ion-navbar color="secondary">
      <ion-title>Заказ № {{p.id}}</ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content class="content" overflow-scroll="true">
  
    <ion-item-group>
        <ion-item-divider color="light">
            <ion-icon text-left name="md-calendar"></ion-icon>
            <label text-left class="date">{{p.date*1000 | date:'dd.MM.yyyy, HH:mm'}}</label>
            <ion-badge text-right item-end *ngIf="p.summary">{{p.summary}} p.</ion-badge>
            <ion-badge text-right item-end *ngIf="!p.summary">0 p.</ion-badge>
        </ion-item-divider><br>
          
        <label class="idpoint" *ngIf="p.number" text-wrap>№ заявки: {{p.number}}</label>
        <ion-item>
            <ion-icon class="aicon" name="md-radio-button-off"></ion-icon>
            <label class="apoint">{{p.from.note}}</label>
        </ion-item>
        
        <ion-item>
          <ion-icon class="bicon" name="md-radio-button-off"></ion-icon>
            <label class="apoint">{{p.to.note}}</label>
        </ion-item>
    </ion-item-group>
    
    <ion-item-group *ngIf="p.type_auto">
      <ion-item-divider color="light">Тип транспорта</ion-item-divider>
      <ion-item>{{p.type_auto}}</ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="p.cargo">
        <ion-item-divider color="light">Наименование груза</ion-item-divider>
        <ion-item text-wrap>{{p.cargo}}</ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="p.comment">
        <ion-item-divider color="light">Комментарий</ion-item-divider>
        <ion-item text-wrap>{{p.comment}}</ion-item>
    </ion-item-group>
  
    <ion-item-group>
        <ion-item-divider color="light">Ваше предложение</ion-item-divider>
        
        <ion-grid>
          <ion-row>
            <ion-col col-4>
                <h6>Ваша цена</h6>
            </ion-col>
            <ion-col col-4>
                <ion-item class="priceInput">
                  <ion-input type="text"
                            maxlength="6"
                            text-center
                            [(ngModel)]="suggestPrice"
                            (ionChange)="calcPrice(0)"
                            ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <h6> руб.</h6>
            </ion-col>
          </ion-row>
          
          <ion-row *ngIf="profileS.gte?.nds==2">
              <ion-col>
                    <label>Предоплата топливом: &nbsp;{{topliva | number: 0}} pуб.</label>
              </ion-col>
          </ion-row>

          <ion-row *ngIf="profileS.gte?.nds==2">
            <ion-col>
                <ion-item class="ranger">
                    <ion-range min="0"
                                max="100"
                                step="5"
                                color="primary"
                                [(ngModel)]="precent"
                                (ionChange)="calcPrice(1)">
                        <ion-label range-left class="range" *ngIf="precent">{{ precent }}%</ion-label>
                        <ion-label range-left class="range" *ngIf="!precent">0%</ion-label>
                        <ion-label range-right class="range">100%</ion-label>
                    </ion-range>
                  </ion-item>
            </ion-col>
          </ion-row>

          <!-- <ion-row *ngIf="profileS.gte?.nds==2">
            <ion-col>
                  <label class="itogo">Итого:&nbsp;{{summary | number: 0}} руб.</label>
            </ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-item-group>
  
    <ion-grid>
        <ion-row text-center>
          <ion-col>
            <button ion-button
                    (click)="onSend()"
                    block
                    [disabled]="!suggestPrice"
                    color="primary">Отправить</button>
          </ion-col>
        </ion-row>
    </ion-grid>
  
  </ion-content>
  