<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
        <button ion-button (click)="close()" icon-only>
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Погрузка № {{id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ionContent">


  <ion-grid>
    <ion-row text-center><ion-col> 
        <ion-spinner *ngIf="isLoading"></ion-spinner>
    </ion-col></ion-row>

    <ion-row text-center *ngIf="!isLoading" class="hdr">
      <ion-col class="date">
        Дата
      </ion-col>
      <ion-col>
        Статус
      </ion-col>
    </ion-row>
    
    <div *ngFor="let order of statesArray">
        <ion-row text-center class="cntnt">
            <ion-col class="date">{{ order.date*1000 | date: "dd.MM.yyyy, HH:mm" }}</ion-col>  
            <ion-col>{{ order.state }}</ion-col>
        </ion-row>
    </div>
    
  </ion-grid>

</ion-content>
