page-modal {
    .ionContent{
        .hdr{
            margin-top: 30px;
            border: 1px solid #858585;
            color: #ffffff;
            font-size: 1.2em;
            background-color: map-get($appColors, myOrange);
            .date{
                border-right: 1px solid #858585;
            }
        }
        .cntnt{
            background-color: #ffffff;
            border: 1px solid #858585;
            .date{
                border-right: 1px solid #858585;
            }
        }
    }
}
