<ion-content>
    
       <svg id="bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.15 224.35">
           <defs>
               <style>.cls-1{fill:#dd238c;}.cls-2{fill:#ef4328;}.cls-3{fill:#7dd0df;}.cls-4{fill:#febf12;}.cls-5{fill:#282828;}</style>
           </defs>
           <title>ГТЕ</title>
           <rect class="cls-1" x="27.22" width="20.06" height="163.78"/>
           <rect class="cls-2" y="4" width="20.06" height="163.78"/>
           <rect class="cls-3" x="13.9" y="13.1" width="20.06" height="163.78"/>
           <rect class="cls-4" x="43.1" y="7.45" width="20.06" height="163.78"/>
           <text class="cls-5" x="3" y="200" fill="red">Г Т Е</text>
       </svg>
    
   </ion-content>