<ion-header>
    <ion-navbar color="secondary">
      <ion-title>{{ title }}</ion-title>

      <ion-buttons start *ngIf="mode=='Edit'">
        <button ion-button clear icon-only class="xBtn" (click)="onClose()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>

    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <form [formGroup]="regForm" novalidate (ngSubmit)="onRegNewUser()">
        <div class="list">
          
            <div class="form-group">
              <ion-item no-lines>
                <ion-input type="email"
                           maxlength="25"
                           placeholder="E-mail"
                           formControlName="email"></ion-input>
              </ion-item>
              </div>
  
              <div class="form-group">
                <ion-item no-lines>
                  <ion-input type="number"
                            (tap)="onClickCompany()"
                            maxlength="25"
                            placeholder="ИНН"
                            formControlName="inn"
                            readonly></ion-input>
                </ion-item>
              </div>
              
            <div class="form-group">
              <ion-item item-end no-lines>
                <ion-label>Модель</ion-label>
                <ion-select formControlName="isnds" interface="action-sheet" [disabled]="isReadonly">
                  <ion-option value="1">НДС</ion-option>
                  <ion-option value="2">Без НДС</ion-option>
                </ion-select>
              </ion-item>
            </div>
            
            <div class="form-group">
              <ion-item no-lines>
                <ion-input type="text"
                           maxlength="25"
                           placeholder="Наименование юр. лица"
                           formControlName="name"
                           readonly="{{isReadonly}}"></ion-input>
              </ion-item>
            </div>

            <div class="form-group">
                <ion-item no-lines>
                  <ion-input type="number"
                            maxlength="25"
                            placeholder="Код АТИ"
                            formControlName="code_ati"
                            readonly="{{isReadonly}}"></ion-input>
                </ion-item>
            </div>
            
            <div class="form-group">
              <ion-item no-lines>
                <ion-input type="text"
                           (tap)="onSelectAuto()" 
                           placeholder="Тип авто"
                           formControlName="type_auto"
                           readonly></ion-input>
              </ion-item>
            </div>

            <div class="form-group">
                <ion-item no-lines>
                  <ion-input type="text"
                             placeholder="VIN"
                             formControlName="vin"></ion-input>
                </ion-item>
              </div>
            
        </div>
        
        <ion-grid> 
            <ion-row>
              <ion-col col-4>
                    <ion-thumbnail item-center (click)="onClickPhoto(1)">
                      <img src="assets/img/default_image.png" *ngIf="!profileS.profileData.photo_passport">
                      <img src="{{profileS.profileData.photo_passport}}" *ngIf="profileS.profileData.photo_passport">
                      </ion-thumbnail>
                    <p text-center>Паспорт</p>
              </ion-col>
              <ion-col col-4>
                      <ion-thumbnail item-center (click)="onClickPhoto(2)">
                        <img src="assets/img/default_image.png" *ngIf="!profileS.profileData.photo_vu">
                        <img src="{{profileS.profileData.photo_vu}}" *ngIf="profileS.profileData.photo_vu">
                      </ion-thumbnail>
                    <p text-center>В/У</p>
              </ion-col>
              <ion-col col-4>
                      <ion-thumbnail item-center (click)="onClickPhoto(3)">
                        <img src="assets/img/default_image.png" *ngIf="!profileS.profileData.photo_sts">
                        <img src="{{profileS.profileData.photo_sts}}" *ngIf="profileS.profileData.photo_sts">
                      </ion-thumbnail>
                      <p text-center>СТС</p>
              </ion-col>
            </ion-row>
          </ion-grid> 
  
            <button ion-button block
                    class="btnSize"
                    type="submit"
                    color="primary">{{ btnText }}</button>
                    
    </form>
  
  </ion-content>
  
