page-info {
  ion-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center !important;
    font-size: 1.2em;
  }
  .content{
    padding-top: 25px;
    background-color: #ffffff !important;
    ion-item{
        .aicon{
            color: map-get($appColors, myOrange);
            font-size: 1.1em;
        }
        .bicon{
            color: #019934;
            font-size: 1.1em;
        }
        .apoint{
            font-weight: bold;
            padding-left: 5px;
            font-size: 1.1em;
        }
        .address{
          font-size: 1.1em;
          padding-left: 25px;
          color: #000000;
        }
        .contact{
          font-size: 1.1em;
          padding-left: 25px;
          color: green;
        }
        .phone{
          font-size: 1.1em;
          padding-left: 25px;
          color: red;
        }
    }

    ion-item-group{
      .idpoint{
        padding-left: 20px;
        font-size: 1.2em;
        font-weight: bold;
      }
      ion-item-divider{
        font-size: 1.1em !important;
        color: #777777;
        background-color: #F4F4F4;
      }
    }

    .price{
      label{
        font-weight: bold;
        font-size: 1.1em;
        color:map-get($appColors, myOrange);
      }
      p{
        color:#5C5C5C;
        font-size: 0.968em;
        margin-top: 5px;
      }
    }
  
    .call{
      background-color: #FFDD00;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      ion-icon{
        color: #019934;
      }
    }  
    .actionBtns{
      margin-top: 10px;
    }

    .bottom{
      // background-color: #ffffff;
      // position: absolute;
      // bottom: 20px;
      // width: 100%;
    }
  }  
  
}


.scroll-content{
  overflow-y: auto;
}