<ion-header>
  <ion-navbar color="secondary">
  	<button ion-button menuToggle>
    	<ion-icon name="menu"></ion-icon>
	  </button>

    <ion-title>Помощь</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-grid class="grid">
        <ion-row text-center>
          <ion-col>
            <label class="label">Часто задаваемые вопросы</label><hr>
          </ion-col>
        </ion-row>
    </ion-grid>	

    <ion-card *ngFor="let question of profileS.questions; trackBy: trackByFn;">
        <ion-list>
            <button  class="text"
                     ion-item
                     (click)="question.isOpen = !question.isOpen"
                     text-wrap>
                <ion-icon *ngIf="question.isOpen" name="ios-arrow-up-outline" item-end></ion-icon>
                <ion-icon *ngIf="!question.isOpen" name="ios-arrow-down-outline" item-end></ion-icon>
              {{question.question}}
            </button>
        </ion-list>
        <ion-card-content *ngIf="question.isOpen">
              {{question.answer}}
        </ion-card-content>
    </ion-card>

</ion-content>
