<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Выберите тип транспорта</ion-title>
    <ion-buttons start>
      <button ion-button icon-only clear (click)="onCloseModal()">
          <ion-icon class="closingIcon" ios="ios-circle" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
  
<ion-content class="content">

  <ion-grid *ngIf="authS.isLoading">
    <ion-row>
      <ion-col text-center>
        <ion-spinner></ion-spinner>  
      </ion-col>  
    </ion-row>
  </ion-grid>    

  <ion-list class="item">
      <button ion-item
              *ngFor="let car of authS.autoArray" 
              (click)="onSelectAuto(car)"> 
              <ion-icon showWhen="android" name="ios-arrow-forward-outline" item-end></ion-icon>
              {{car.name}} 
      </button>
  </ion-list>

</ion-content>
