// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$appColors: (
  myOrange:  #F56442,
);



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    map-get($appColors, myOrange),
  primatyOwn: #387EF5, 
  secondary:  #262B31,
  danger:     #f53d3d,
  light:      #F3F3F3,
  dark:       #222,
  tabcolor:   #262B31
);
  // light:      #f4f4f4,



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


$range-md-padding-vertical: 2px;
// $range-md-slider-height: 5px;
$range-md-tick-width: 4px;
$range-md-pin-font-size: 16px;
$range-md-padding-horizontal: 5px;
$range-md-knob-height: 30px;
$range-md-knob-width: 30px;


$tabs-md-tab-min-height: 4.3rem;
$tabs-md-tab-font-size: 1.4rem;
$tabs-md-tab-font-size-active: 2rem;
$tabs-md-tab-text-color: #D0D0D0 !important;
$tabs-md-tab-text-color-active: #ffffff !important;
// $tabs-md-tab-icon-color-active: map-get($appColors, myOrange);
// $tabs-md-tab-icon-color: #D0D0D0 !important;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
