// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
	background-color: #E0E0E0 !important;
}
.buttonColor{
	background-color: map-get($appColors, myOrange);
}



body{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
label{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}



.activeColor{
    color: map-get($appColors, myOrange);
}
.logout{
	position: absolute;
	bottom: 0;
	width: 100%;
	button{
		background-color: transparent !important;
	}
}
.line{
	margin-top: -12px !important;
}
.menuHeader{
	img{
		height: 190px;
		width: 350px;
	}
}

.menuList{
	button{
		background-color: transparent !important;
	}
}

.disabledInputPlace{
	.text-input::-moz-placeholder {
		color: #000000 !important;
	  }
	  
	  .text-input:-ms-input-placeholder {
		color: #000000 !important;
	  }
	  
	  .text-input::-webkit-input-placeholder {
		text-indent: 0;
		color: #000000 !important;
	  }
}

.scroll-content{
	overflow-y: auto !important;
}

 ion-toast.error .toast-wrapper{
    background-color: #DE0101 !important;
 }

 ion-toast .button-clear-md {
	border-color: map-get($appColors, myOrange);
	color: #488aff;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 1;
}
