<ion-menu [content]="content" id="sideMenu">
    <ion-content class="content">
  
      <div class="menuHeader">
        <img src="assets/img/sideMenu0.jpg">
      </div>
  
      <ion-list class="menuList">
        <button menuClose
                ion-item
                *ngFor="let p of pages"
                (click)="openPage(p)"
                [class.activeColor]="checkActive(p)">
          <ion-icon ios="{{p.iosIcon}}" md="{{p.andrIcon}}" item-start></ion-icon>
          {{p.title}}
        </button>
      </ion-list><hr class="line">
  
      <ion-list class="logout" *ngIf="isUserLogedIn">
        <button ion-item
                menuClose
                (click)="onLogout()">
          <ion-icon ios="ios-log-out" md="md-log-out" item-start></ion-icon> 
          Выйти
        </button>
      </ion-list> 
    </ion-content>
  
  </ion-menu>
  
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>