page-moi-pogruzki {
	.crd{
		.card-content-md{
			padding: 3px 16px;
		}
		border-top: 2px solid #D0D0D0; 
		padding: 0;
		ion-item{
			padding-left: 0px !important;
			margin-bottom: -10px !important;
			p{
				padding: 3px;
			}
			.aicon{
				color: map-get($appColors, myOrange);
				font-size: 1.3em;
			}
			.bicon{
				color: #019934;
				font-size: 1.3em;
			}
			.apoint{
				font-weight: bold;
				padding-left: 5px;
				font-size: 0.9em;
			}
			.address{
				font-size: 0.9em;
				padding-left: 25px;
				color: #000000;
			}
			.contact{
				font-size: 0.9em;
				padding-left: 25px;
				color: green;
			}
			.phone{
				font-size: 0.9em;
				padding-left: 25px;
				color: red;
			}
		}
		ion-badge{
			font-size: 1.4em;
			background-color: map-get($appColors, myOrange);
		}
		p{
			.datei{
				color: gray;
				font-size: 0.9em;
			}
			.date{
				color: gray;
				font-size: 0.9em;
				padding-left: 5px;
			}
			margin-top: -5px;			
			// margin-bottom: -5px;			
		}
		ion-item{
			margin-top: -8px;
			padding-bottom: -18px !important;
		}
		hr{
			font-size: 16px;
			background-color: #000000;
		}
		.status{
			margin-top: -15px !important;
			label{
				font-size: 0.9em;
				color: #444444;
			}
		}
	}
}
