<ion-header>
    <ion-navbar color="secondary">
      <ion-title>Введите адресс</ion-title>
      <ion-buttons start>
        <button ion-button clear icon-only (click)="onCloseModal()">
            <ion-icon class="closingIcon" ios="ios-circle" md="md-close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
  
  
<ion-content class="content">
  
    <ion-searchbar #searchbar type="text"
                              (ionInput)="getItems($event)"
                              debounce=500
                              placeholder="Поиск..."></ion-searchbar>
     
    <!-- <div *ngIf="isSearching" class="spinner-container">
          <ion-spinner></ion-spinner>
    </div> -->

    <div *ngIf="isSearching" padding-left padding-right>
        <ion-item *ngFor="let city of cities" (click)="onSelect(city)">
            {{ city.name }}
        </ion-item>
    </div>

</ion-content>
  