<ion-header>
    <ion-navbar color="secondary">
      <ion-title>{{ title }}</ion-title>
      <ion-buttons start>
        <button ion-button clear icon-only class="xBtn" (click)="onClose()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content>
  
      <ion-searchbar #searchbar *ngIf="mode=='company'"
                     (ionInput)="getItems($event)"
                     [debounce]="500" placeholder="Поиск компании">
      </ion-searchbar>
  
      <ion-grid *ngIf="authS.isLoading">
        <ion-row text-center>
          <ion-col>
              <ion-spinner></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>               
  
      <ion-list *ngIf="mode=='company'">
        <button ion-item
                *ngFor="let company of companyArray"
                (click)="onSelectCompany(company)">
          {{ company.name }}
        </button>

        <ion-grid>
          <ion-row text-center>
            <ion-col col-4 offset-4>
                <button ion-button
                        block
                        class="primary"
                        *ngIf="!isAnyCompany"
                        (click)="onSaveNew()">Сохранить</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
  
  
      <ion-list *ngIf="mode=='auto'">
        <button ion-item *ngFor="let auto of autoArray" (click)="onSelectAuto(auto)">
            <ion-icon showWhen="android" name="ios-arrow-forward-outline" item-end></ion-icon>
          {{ auto.name }}
        </button>
      </ion-list>
  
</ion-content>