page-history {
	.crd{
        background-color: #F3F3F3;
        .child{
            height: 2px;
        }
		ion-item{
			padding-left: 5px !important;
            // margin-bottom: -10px !important;
			.aicon{
				color: map-get($appColors, myOrange);
				font-size: 1.3em;
			}
			.bicon{
				color: #019934;
				font-size: 1.3em;
			}
			.apoint{
				padding-left: 5px;
				font-size: 0.9em;
			}
			.contacts{
				padding-left: 25px;
				padding-top: 3px;
			}
		}
		ion-badge{
			font-size: 1.2em;
            background-color: transparent; 
            color: map-get($appColors, myOrange);
		}
		p{
			.datei{
				color: gray;
				font-size: 0.9em;
			}
			.date{
				color: gray;
				font-size: 0.9em;
				padding-left: 5px;
			}
			// margin-top: -2px;			
			// margin-bottom: -5px;			
		}
		ion-item{
			margin-top: -10px;
			// padding-bottom: -18px !important;
		}
		.status{
			label{
				font-size: 0.9em;
				color: #444444;
			}
		}
    }
}
