page-pogruzki {
	.grid{
		margin-bottom: -10px !important;
		.label{
			font-size: 1.2em;
		}
		hr{
			width: 200px;
		}
	}
	.card-content-md {
		padding: 13px 10px;
		font-size: 1.4rem;
		line-height: 0;
	}
	.crd{
		border-top: 2px solid #C1C1C1; 
		ion-item{
			padding-left: 0px !important;
			// margin-bottom: -10px !important;
			.aicon{
				color: map-get($appColors, myOrange);
				font-size: 1.3em;
			}
			.bicon{
				color: #019934;
				font-size: 1.3em;
			}
			.apoint{
				padding-left: 5px;
				font-size: 0.9em;
			}
			.contacts{
				padding-left: 25px;
				padding-top: 3px;
			}
			.offer{
				font-size: 0.9em;
			}
		}
		ion-badge{
			font-size: 1.4em;
			background-color: map-get($appColors, myOrange); 
		}
		p{
			.datei{
				color: gray;
				font-size: 0.9em;
			}
			.date{
				color: gray;
				font-size: 0.9em;
				padding-left: 5px;
			}
			margin-top: -5px;			
			// margin-bottom: -5px;			
		}
		ion-item{
			// margin-top: -8px;
		}
		hr{
			font-size: 16px;
			background-color: #000000;
		}
	}
}
