<ion-header>
  <ion-navbar color="secondary">
      <button *ngIf="pogruzkiS.isObratnyePogruzkiPage" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title *ngIf="!pogruzkiS.isObratnyePogruzkiPage">Найденные погрузки</ion-title>
    <ion-title *ngIf="pogruzkiS.isObratnyePogruzkiPage && !pogruzkiS.showBackOrders">Обратные погрузки</ion-title>
    <ion-title *ngIf="pogruzkiS.isObratnyePogruzkiPage && pogruzkiS.showBackOrders">Обратные погрузки &nbsp;({{pogruzkiArray?.length}})</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>

  <div *ngIf="pogruzkiS.isObratnyePogruzkiPage && pogruzkiS.showBackOrders">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </div>

    <ion-grid class="grid">
      <ion-row text-center>
        <ion-col col-10 offset-1>
          <label class="label" *ngIf="!pogruzkiS.isObratnyePogruzkiPage">Доступные погрузки</label>
          <label *ngIf="pogruzkiS.isObratnyePogruzkiPage && !pogruzkiS.showBackOrders">Чтобы получить подходящие обратные погрузки, необходимо поставить галочку <strong>"Показать обратные погрузки"</strong></label>
          <label class="label" *ngIf="pogruzkiS.isObratnyePogruzkiPage && pogruzkiS.showBackOrders && pogruzkiArray.length==0">Нет обратных погрузок</label><hr>
        </ion-col>
      </ion-row>
    </ion-grid>		
  
    <ion-card class="crd" *ngFor="let p of pogruzkiArray; let indx=index;" (click)="onSelectPogruzka(p.id, p.offer_price, indx)">
      <ion-card-content>
        <ion-row>
          <ion-col text-left>
            <label>Заказ № {{p.id}}</label>
            <p>
              <ion-icon class="datei" name="md-calendar"></ion-icon>
                <label class="date">{{p.date*1000 | date:'dd.MM.yyyy, HH:mm'}}</label>
            </p>
            <label *ngIf="p.number" text-wrap>№ заявки: {{p.number}}</label>
          </ion-col>
          <ion-col text-right>
            <ion-badge item-end>{{p.summary}} p.</ion-badge>
          </ion-col>
        </ion-row><hr>

        <ion-item>
          <ion-icon class="aicon" name="md-radio-button-off"></ion-icon>
          <label class="apoint" text-wrap>{{p.from_note}}</label>
          <!-- <p class="contacts" text-wrap><span *ngIf="p.load_contact">{{p.load_contact}}, &nbsp;&nbsp;</span><span *ngIf="p.load_contact_phone">{{p.load_contact_phone}}</span></p> -->
        </ion-item>
        <ion-item>
          <ion-icon class="bicon" name="md-radio-button-off"></ion-icon>
            <label class="apoint" text-wrap>{{p.to_note}}</label>
          <!-- <p class="contacts" text-wrap><span *ngIf="p.unload_contact">{{p.unload_contact}},</span><span *ngIf="p.load_contact_phone">{{p.unload_contact_phone}}</span></p> -->
        </ion-item>
        <ion-item *ngIf="authS.isUserLogedIn">
              <label class="offer">Ваша цена: {{p.offer_price}} р.</label><br>
              <label class="offer">Цена других участников: {{p.offer_company}} р.</label>
        </ion-item>
      </ion-card-content>
    </ion-card>			
  
</ion-content>
  