page-sms {
    .cr{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;
        ion-item{
            border-radius: 12px;
            background-color: #ffffff;
        }
    }

}
