<ion-header>
  
  <ion-navbar color="secondary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>  

</ion-header>


<ion-content padding>

    <form [formGroup]="smsForm" novalidate (ngSubmit)="login()" class="cr">
        <ion-grid>
          <ion-row text-center>
            <ion-col col-10 offset-1>
              <p>{{msg}}</p>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col col-1></ion-col>
            <ion-col>
              <div class="form-group">
                <ion-item>
                  <ion-input #sms text-center 
                              type="password"
                              maxlength="4"
                              placeholder="Введите смс код"
                              formControlName="sms"></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>

          <ion-row text-center class="btn">
            <ion-col col-1></ion-col>
            <ion-col>				
            <button ion-button block
                    class="btnSize"
                    type="submit"
                    color="primary"
                    [disabled]="!smsForm.valid">Отправить</button>
            </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>							
        </ion-grid>
    </form>


</ion-content>
